.Landing {
 width: 100%;
 height: 100vh;
 background-color: blue;
}

.site-info {
  width: 500px;
  height: 700px;
  background-color: red;
  position: absolute;
  left: 300px;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
}

.site-info > br {
  margin-top: 10px;
}

.login-container {
  width: 500px;
  height: 700px;
  background: red;
  position: absolute;
  right: 300px;
  top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.register-container {
  width: 700px;
  height: 900px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 20px;
  font-size: 25px;
  align-self: center;
}

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  align-items: center;
}

.navbar > h1 {
  margin-left: 50px;
}

.hamburger {
  width: 50px;
  height: 50px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ui {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}

.noDisplay{
  display: none;
}

.display{
  position: absolute;
  right: 15px;
  top: 110px;
  width: 150px;
  height: 350px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  text-decoration: none;
}

.dropdown-ui {
  margin-top: 15px;
}

.logout {
  margin-bottom: 15px;
}